

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

html {
  font-family: 'Ubuntu', sans-serif;
}

.table-container {
  overflow-x: auto;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
}

.hidden  {
  display: none;
}

.modal-bg {
  width: 30%;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0px 0px 5px 0px rgb(121, 119, 119);
}